streamlit
langchain
faiss-cpu
tiktoken
bs4
requests
langchain-community
langchain_huggingface
langchain_openai
langchain-groq
rank_bm25
langgraph
validators
transformers
torch
sentence-transformers
lxml
